* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #f0f4f8;
  padding: 20px;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #1e3a8a;
  font-size: 40px;
}
.container {
  max-width: 900px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.form-group {
  display: flex;
  flex-direction: row;
  gap: 55px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #333;
  font-size: 20px;
}
input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.lineup-entry {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pitch {
  position: relative;
  width: 100%; /* or a fixed width if you want */
  max-width: 600px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}
.pitch img {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  border: 2px solid #1e3a8a;
}
.submit-btn {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #1e3a8a;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}
.submit-btn:hover {
  background-color: #3b82f6;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.player {
  position: absolute;
  width: 60px;
  text-align: center;
}

.GK {
  top: 49%;
  left: 5%;
}
.RB {
  top: 73%;
  left: 25%;
}
.CB {
  top: 49%;
  left: 25%;
}
.LB {
  top: 20%;
  left: 25%;
}
.LCM {
  top: 20%;
  left: 43%;
}
.CB2 {
  top: 49%;
  left: 63%;
}
.CM {
  top: 49%;
  left: 43%;
}
.RCM {
  top: 73%;
  left: 63%;
}
.LW {
  top: 20%;
  left: 63%;
}
.ST {
  top: 49%;
  left: 81%;
}
.RW {
  top: 73%;
  left: 43%;
}
@media (max-width: 767px) {
  h1 {
    font-size: 28px;
  }
  .position {
    display: none;
  }
  .name {
    font-size: 10px;
  }
  .img2 {
    width: 18px;
    border-radius: 9px; 
  }
  .form-group {

    gap: 5px;
  }
  .GK {
    top: 53%;
    left: 3%;
  }
  .RB {
    top: 75%;
    left: 20%;
  }
  .CB {
    top: 53%;
    left: 20%;
  }
  .LB {
    top: 25%;
    left: 20%;
  }
  .LCM {
    top: 25%;
    left: 40%;
  }
  .CB2 {
    top: 53%;
    left: 60%;
  }
  .CM {
    top: 53%;
    left: 40%;
  }
  .RCM {
    top: 75%;
    left: 60%;
  }
  .LW {
    top: 25%;
    left: 60%;
  }
  .ST {
    top: 53%;
    left: 77%;
  }
  .RW {
    top: 75%;
    left: 40%;
  }
}
